*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.conteiner{ 
    width: 100%;
    height: 100vh;     
    display: grid; 
    grid-template-rows:80px 40px 1fr 40px;
    grid-template-columns:1fr 150px;          
    gap: 5px;
}
.C1{    
    background-color: rgb(91, 168, 168);      
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
.C2{
    background-color: aquamarine;     
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;    
}
.C3{
    background-color: chartreuse; 
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start:1;
    grid-column-end: 2;
}
.C4{    
    background-color: rgb(131, 73, 185); 
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start:2;
    grid-column-end: 3;
}
.C5{
    background-color: rgb(199, 106, 106); 
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start:1;
    grid-column-end: 3;
}
.C1, .C2, .C3,.C4,.C5{
    text-align: center;
    font: 1.5em sans-serif;
    padding: 10px;
    border: 1px solid black; 
}   
    
    

.conteiner{

}



