@charset "UTF-8";



:root{
    --cor1:#757896;
    --cor2:#797EC3;
    --cor3:#11154d;
    --cor4:#3841C2;
    --cor5:#1C2BEB;
}
body{
    background-color: #b6b9dd;
}
*{
    padding: 0px;
    margin: 0px;
}

header{
    
    background-position: center;
    background-repeat:no-repeat;     
    background-image: url(lagosta\ azul.jpeg);    
    background-color: var(--cor3);
    color: white;
    padding: 30px;          
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;    
     
}
header > h1{    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;   
}
header > p{
    font-size: 1.3em;
    font-weight: bolder;
}
main{
     background-color: var(--cor1);
}
nav{
    background-color: var(--cor3);
    padding-bottom: 20px;
    
    
}
nav > a{
    color: white;
    padding: 5px;
    
}
