@charset "UTF-8";



:root{
    --cor1:#e2e3ee;
    --cor2:#797EC3;
    --cor3:#11154d;
    --cor4:#3841C2;
    --cor5:#1C2BEB;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}
body{    
    background-color: #b6b9dd;
    font-family: var(--fonte-padrao);
}
*{
    padding: 0px;
    margin: 0px;
}

header{
    background-size: 130px;    
    background-position: center;
    background-repeat: repeat-x;     
    background-image: url(lagosta\ azul.jpeg);    
    background-color: var(--cor3);
    color: white;
    padding: 40px;
    padding-bottom: 15px;              
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;    
     
}
header > h1{    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;   
}
header > p{
    font-size: 1.3em;
    font-weight: bolder;
}
main{
    background-color: var(--cor1);    
    margin: auto;
    max-width: 600px;
    min-width: 270px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    margin-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px ;
}
main p{
    margin: 10px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1em;
}
main img{
    width: 50%;
}
nav{
    background-color: var(--cor3);
    padding-bottom: 20px;
    padding-top: 0px;
    
    
}
nav > a{
    color: white;
    padding: 5px;
    
}
ul {
    list-style-position: inside;
    margin-left: 15px;
    columns: 1;
    list-style-type: '\2714\00A0\00A0';
}
aside{
    margin-bottom: 10px;
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.288);
}
aside > h3{
    background-color: var(--cor5);
    color: white;
    padding: 8px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    
}
aside img{
    width: 50%;
    padding: 10px;
    
}
li{
    color: wheat;
    font-size: 1.3em;
    
}
 