@charset "UTF-8";



:root{
    --cor1:#757896;
    --cor2:#797EC3;
    --cor3:#11154d;
    --cor4:#3841C2;
    --cor5:#1C2BEB;
}

header{
    
    background-repeat: repeat-x;
    background-position: center;    
    background-image: url(lagosta\ azul.jpeg);
    background-color: var(--cor3);
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px; 

}
header > h1{    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;   
}
header > p{
    font-size: 1.3em;
    font-weight: bolder;
}
